html {height:100vh;width:100%;}
body {height:100vh; }
html, body {padding:0px; margin:0px; box-sizing:border-box;} /* reset */
div {box-sizing:border-box;} /* enforce proper box behavior */


/* Architecture:

body
  .swipe
     .swipe-wrap
       .swipe-wrap > div  == .bodyContent
         .swipe-line
         .swipe-stuff

*/


/* css code required for the small swiper, see https://intizarahmad.github.io/swipe/  */

.swipe             { overflow:hidden; position:relative; visibility: hidden;}
.swipe-wrap        { overflow:hidden; position: relative;}
.swipe-wrap > div  { float: left; width: 100%;  position: relative; height:100vh;  overflow-x: hidden; }

.swipe-wrap > div  {overflow-y:hidden;}

body {overflow:hidden;}


.swipe-positioner {position:absolute; top:0px; left:100px; z-index:10; padding:5px; border:1px solid blue; border-radius:5px; color:blue;}
.swipe-num  {font-weight:bold; color: blue;}

.swipe-navigator {position:absolute; top:0px; right:100px; z-index:10; padding:5px; border:0px solid blue; border-radius:5px; color:blue;}

.swipe-stuff {margin-top:1px; padding:50px 140px 50px 140px;  height:100vh; width:100vw;min-height:100vh; overflow-y:scroll;}

.swipe-line {background-color: AliceBlue;height:30px;}

.swipe-positioner, .swipe-navigator {height:30px; min-height:30px;}

a.swipe-link {margin-left:10px; margin-right:10px; font-weight:bold; color:blue;position:relative;top:-3px;;}

button {height:28px; position:relative;top:-5px; margin-left:5px; margin-right:5px; cursor:pointer;}



body {background-color: white;}


body {cursor:grab;}
body:active {cursor:grabbing;}


h1, h2, h3, h4, h5, h6 {display:none;}

/* class seHide is showendpoint hidden */
.seHidden {display:none;}

/* remove size limitation in showEndpoint */
html.sizeLimit  .parsifalContainer {max-width: none !important;}

/* adaptations for projection and casting */
.vector-body {font-size:40pt;}
ul           {list-style-image:none;}

/* Have a bit more separation in showendpoint and allow growth of the diagrams to full breadth of the window */
img.drawioShowendpoint {max-width:5000px !important; margin:20px 20px 20px 20px;}

/* have a bit more separation between parsifal containers*/
.parsifalContainer { margin:40px 0px 40px 0px;}

/* reduce distance between two amsmath elements seperated by a paragraph */
script + p { line-height:0.1;}

/* Override some parsifal settings for presentation/slide mode */
.parsifalContainer {border:0px;}
.logWrap {display:none;}
.errorWrap {display:none;}


