


.htmlform-tip {font-size: 0.92857143em; position:relative; top:-8px;}


/* necessary to get a reasonable file length displayed in the file selector in special dante restore */
.fileselector {width:600px; min-width:600px;}

#restore-form-local {margin-bottom:60px;}
#restore-form-aws   {margin-bottom:60px;}
#restore-form-url   {margin-bottom:60px;}
#restore-form-scp   {margin-bottom:60px;}


#srcfeatures-rb {margin-top:0px;}  /* adjust the top margin of the Pages menu */


label[for="mw-input-tag"] {font-weight: bold;}
label[for="mw-input-compressed"] {font-weight: bold;}
label[for="mw-input-encrypted"] {font-weight: bold;}


#mw-input-files-separate {margin-top:18px;}
#mw-input-srces-nopages {margin-bottom:18px;}


legend {font-weight:bold;}

.headright {user-select:none; outline:none; background-color:#ededed; border:none;}
