

/* standard styling of the preview mechanism */
.previewFrameClass {
    border: 3px solid lightgray;
    box-sizing: border-box;
}

.previewFrameClass.hasFocus {
    border: 3px solid blue;
    border-radius: 5px;
}


#inline-edit-preview-container {border: 5px solid lightgrey;}

/* UI feedback on the status of the preview area */
body.xhrPending #inline-edit-preview-container {border: 5px solid red;}
body.inputChanged #inline-edit-preview-container {border: 5px solid gold;}

/* remove the "your edit has been saved" notification */
.postedit {display: none;}




aside {
    color: red;
    position:relative; right:0px; top:0px;
    float:right;
}
