/***********************/
/** TABLE OF CONTENTS **/
/***********************/

/* the main elements of the side chicks */
#toc, .sideChick {float:right; position:fixed; right:-1px;
   overflow:hidden; 
  min-height:55px;
  max-height: calc(100vh - 120px); 
  z-index:60000;       /*  Toc remains clickable and is not covered by a parsifal container*/
  margin: 14px 0px 160px 0px; 
  padding:0px 0px 0px 22px;     /* leave space for header line */
  border-width: 1px 1px 1px 1px; border-style: solid;
  border-radius:10px 0px 0px 0px;
  resize:both; direction: rtl;  /* make resizable and have resize handle on the left side */
  cursor:pointer;
}


/* the handle used for opening / closing and labeling the side chick */
.sideHandle {
  box-sizing:border-box;
  writing-mode:vertical-rl; transform: rotate(180deg);  /* writing sideways */
  position:absolute;top:0px; left:0px; 
  height:calc(100% - 20px); /*  adjust to leave enough space for the resize handle in the lower left*/
  text-align:center;
  z-index:60000; 
  border-width:1px 0px 0px 0px; border-style:solid; /* lower boundary of handle to the resizer */
  padding:0px 0px 0px 0px;
  display:inline-block;
  user-select:none;
}


.pinUi {position:absolute; top:4px; left:10px; width:14px; height:14px; z-index:60001; }

/* remove stupid architectural part from mediawiki */
.toctogglespan {display:none;}


/* correcting for a one-pixel error whose reason we do not understand yet */
.toctitle, .sideTitle {position:relative; left:-1px;}

/* border-bottom required to override a mediawiki setting */
div.toctitle  h2, div.sideTitle h2  {user-select: none; cursor:pointer; border-bottom:0px;}

.toc div.toctitle h2, .toc div.sideTitle h2 {font-weight:bold !important;}

.sideTitle {text-align:center;}
.sideTitle h2, .toctitle h2 {padding:0px 30px 0px 30px; white-space:pre;}


/* .toc MOVE */

html .vector-body .sideChick h2 {font-family: sans-serif; font-size: 16px; font-weight: bold; display:inline;}


/** COLOR THEMING of SIDECHICKS **/

.sideChick {background-color:aliceblue; outline:1px solid hsl(51, 10%, 80%);  outline-offset:-1px;}


#toc-handle                {background: white;}
.has_tocs #toc-handle      {background: yellow;}
#toc-handle:hover          {background: red;}

.sideHandle {border-color: hsl(51, 10%, 80%);  }


.sideHandle                          {background:white;}            /* normally handles are white */
.sideHandle:hover, .sideTitle:hover  {background:red !important;}   /* when hovering they are red */

/* the handles are colored when they include content; the title bars always are colored */
.has_bcks #bck-handle, #bck-title     {background: khaki;}
.has_fwds #fwd-handle, #fwd-title     {background: lightsteelblue;}
.has_cats #cat-handle, #cat-title     {background: orange;}
.has_subs #sub-handle, #sub-title     {background: fuchsia;}
.has_cols #col-handle, #col-title     {background: palegreen;}
.has_acts #act-handle, #act-title     {background: pink;}


/* styling the content inside of a sideChick */

.sideChick ul {
  list-style: none;
  text-align: left;
  margin: 6px 0px 3px 8px; overflow:auto;
  max-height:calc(100% - 30px);  /* need for proper appearance of scoll bars in overflow auto */
}

.sideChick li {margin-top:0px; margin-bottom:0px; }


/* not compensate again to have the correct place for the numbering */
#toc > * , #bck > * {direction: ltr;}

#toc.showtoc > ul {display:block;} /* TODO: do we need this still? actually maybe only for the true TOC of wiki ??? */


/* code specific for TOC */

/* coloring inside of the table of contents */
/* same as the coloring of the headings, defined in latex.css */
.toclevel-1 > a {color: blue !important; font-weight:bold;}
.toclevel-2 > a {color: rebeccapurple!important; font-weight:bold;}
.toclevel-3 > a {}


/* correct the print view for the changes we made for the sidebar and the table of contents */
@media print {
  #toc { display:none !important;}
  #mw-panel {display:none !important;}
  #content {margin-left:0px !important;}
  .sideChicks {display:none !important;}
}